@tailwind base; @tailwind components; @tailwind utilities; body { @apply font-sans bg-white text-gray-800; }
@keyframes floating {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
}

.animate-floating-fast {
  animation: floating 2.5s ease-in-out infinite;
}

.animate-floating-medium {
  animation: floating 3.3s ease-in-out infinite;
}

.animate-floating-slow {
  animation: floating 4.1s ease-in-out infinite;
}

.delay-0 {
  animation-delay: 0s;
}

.delay-200 {
  animation-delay: 0.2s;
}

.delay-400 {
  animation-delay: 0.4s;
}
